@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Body */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(270deg, #ffffff, #99dfff);
  background-size: 400% 400%;

  animation: backgroundAnimation 20s ease infinite;
}

/* Title at the main page */
.homeTitle {
  font-family: "Poppins";
  font-size: 60px;
  display: grid;
  place-content: center;
  text-align: center;
}

/* Title at the top of the page */
.title {
  text-align: center;
  font-family: "Poppins";
  color: black;
}

/* Form for input a csv */
.csvForm {
  font-family: "Poppins";
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}

.csvForm select {
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: larger;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 5% 0;
}

.csvForm input {
  height: 30px;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 5px;
}

.csvForm input::file-selector-button {
  font-weight: bolder;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.csvForm input::file-selector-button:hover {
  color: white;
  background-color: grey;
}

.csvForm .next {
  margin-left: 20%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.buttons .upload {
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: larger;
  border: 3px solid black;
  border-radius: 10px;
  background-color: lightgreen;
}

.buttons .next {
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: larger;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(253, 251, 117);
}

.csvForm button:active {
  font-size: medium;
}

/* Defining the types of the columns (CSV) */
.typeInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 40px;
}

.typeInputs label {
  font-size: large;
  font-family: "Poppins";
  margin: 0 10px 0 20px;
}

.typeInputs select {
  margin-top: 15px;

  font-size: large;
  font-weight: bolder;

  border: 2px solid black;
  border-radius: 10px;

  padding: 0 3px;
}

/* Form in the main page */
.homePageForm {
  margin: 1rem;
  padding: 1rem;
  font-family: "Poppins";
}

.homePageForm h2 {
  text-align: center;
}

.homePageForm .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.homePageForm .buttons button {
  margin: 30px;

  border: 3px solid black;
  border-radius: 20px;
  padding: 20px 15%;

  background-color: transparent;

  font-family: "Poppins";
  font-size: large;
}

.homePageForm .buttons button:hover {
  background-color: black;
  color: white;
}

/* Every form to add data in the app */
.addForm {
  margin: 1rem;
  padding: 1rem;
  font-family: "Poppins";
  border-radius: 30px;
}

.buttonZone {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}

/* New column */

.newColumn {
  display: flex;
  justify-content: space-between;
}

.newColumn input {
  padding: 7px;
  width: 55%;
  margin-right: 20px;
  border: 3px solid #000;
  border-radius: 10px;
  font-size: larger;
}

.newColumn select {
  padding: 5px;
  width: 40%;
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  font-size: larger;
}

/* Buttons */
.addForm button {
  font-weight: bold;
  font-size: large;
  margin: 10px;
  margin-top: 20px;
  padding: 6px 6px;
  border-radius: 10px;
  border: 3px solid #000;
}

.nextButton {
  background-color: rgb(253, 251, 117);
}

.insertButton {
  background-color: lightgreen;
}

.addForm button:active {
  color: white;
  background-color: grey;
}

.deleteButton {
  font-family: "Poppins";
  background-color: lightcoral;
  margin: 5px;
}

/* Inputs in Insert new data page*/
.dataInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dataInputs input {
  margin: 5px 10px;
  border-radius: 10px;
  border: 3px solid #000;
  font-size: large;
  padding: 5px;
}

.dataInputs label {
  font-size: large;
}

.selectMain {
  min-width: 10rem;
  font-weight: bolder;
  font-size: 20px;
}

/* Styles of the table */

.tableContainer {
  width: 100%;
  padding: 0, 5%;
}

.dataTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-radius: 1rem;
  width: 100%;
}

.dataTable td,
.dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
  top: 0;
}

.dataTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.411);
}

.dataTable tr:nth-child(odd) {
  background-color: rgb(0, 204, 255);
}

.dataTable tr:hover {
  border: 2px solid black;
}
.dataTable .headRow:hover {
  border: rgba(0, 0, 0, 0) solid 0px;
}

.dataTable th {
  font-family: Poppins;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009cb1;
  color: white;
  position: sticky;
}

.dataTable .columnName {
  margin: 0;
  margin-left: 1%;
}

.dataTable .columnType {
  margin: 0;
  margin-left: 1%;
  color: rgb(190, 190, 190);
  font-size: small;
}

.buttonCell {
  width: 20px;
}

/* Notification Styles */
.error {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  text-align: center;
  background-color: rgb(255, 0, 0, 0.75);
  padding: 1px;
  border-radius: 30px;
  border: 3px solid black;
  margin: auto 10px;
}

.success {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  text-align: center;
  background-color: lightgreen;
  padding: 1px;
  border-radius: 30px;
  border: 3px solid black;
  margin: auto 10px;
}

/* Tree Styles */

#tree {
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 20px;
  margin: 1rem;
}

.node p {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  padding: 3px;
  margin: 0;
}

/* Type of nodes */
.undefined {
  border: 3px solid red;
  border-radius: 10px;
  padding: 2px;
}

.undefined p {
  color: rgb(77, 77, 77);
}

.column {
  background-color: orange;
  border-radius: 10px;
  padding: 0.5%;
}

.value p {
  color: black;
}

.solution {
  background-color: #04aa6d;
  padding: 0.75%;
  border-radius: 20px;
  text-align: center;
}

.solution .node-title {
  font-size: 15px;
  color: #000;
}

.solution p {
  color: white;
}

/* Accuracy of the tree */
.accuracy {
  width: fit-content;
  position: relative;
  left: 50%;
}

.accuracy p {
  position: relative;
  left: -50%;

  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;

  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
}
